<mat-toolbar>
  <div class="logo"><p>EVENTIFY</p></div>
  <div class="mat-spacer"></div>
  <div>
    <a href="#">{{'toolbar.home' | translate}}</a>
    <a href="#">{{'toolbar.profile' | translate}}</a>
    <a href="#">{{'toolbar.events' | translate}}</a>
    <a href="#">{{'toolbar.tasks' | translate}}</a>
    <a href="#">{{'toolbar.quotes' | translate}}</a>
    <a href="#">{{'toolbar.messages' | translate}}</a>
    <a href="#">{{'toolbar.subscriptions' | translate}}</a>
  </div>
  <app-language-switcher></app-language-switcher>
</mat-toolbar>
