


<p mat-dialog-title class="title">{{ title }}</p>
<mat-dialog-content>
  <form #serviceItemForm='ngForm' class="form-container" (submit)="onSubmit()">
    <div class="form-section">

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input  [(ngModel)]="description" matInput name="description">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Quantity</mat-label>
        <input type="number"  [(ngModel)]="quantity" (ngModelChange)="updateTotalPrice()" matInput name="quantity">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Unit Price</mat-label>
        <input type="number"  [(ngModel)]="unitPrice" (ngModelChange)="updateTotalPrice()" matInput name="unitPrice">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Total Price</mat-label>
        <input [(ngModel)]="totalPrice" readonly matInput name="totalPrice">
      </mat-form-field>

      <ng-container>
        <div class="btn-content">
          <button  type="button" [mat-dialog-close]="onCancel()"  mat-raised-button style="background-color: #fff; color: #000;border: #3A506B">Cancel</button>
          <button  type="submit" mat-raised-button style="background-color: #3A506B; color:#fff">{{ editMode?'Edit Service':'Create Service'}}</button>

        </div>
      </ng-container>
    </div>
  </form>
</mat-dialog-content>
