<div class="form-container">
  <p class="title">New Service</p>
  <form #serviceItemForm='ngForm' (submit)="onSubmit()">
    <div class="form-section">
      <mat-form-field appearance="outline">
        <mat-label>ID</mat-label>
        <input [(ngModel)]="serviceItem.id" matInput name="id">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input  [(ngModel)]="serviceItem.description" matInput name="description">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Quantity</mat-label>
        <input type="number"  [(ngModel)]="serviceItem.quantity" (ngModelChange)="updateTotalPrice()" matInput name="quantity">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Unit Price</mat-label>
        <input type="number"  [(ngModel)]="serviceItem.unitPrice" (ngModelChange)="updateTotalPrice()" matInput name="unitPrice">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Total Price</mat-label>
        <input [(ngModel)]="serviceItem.totalPrice" readonly matInput name="totalPrice">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Quote ID</mat-label>
        <input [(ngModel)]="quoteOrderId" matInput name="QuoteId">
      </mat-form-field>
      <ng-container>
        <div class="btn-content">
          <button  type="button" (click)="onCancel()" mat-raised-button style="background-color: #fff; color: #000;border: #3A506B">Cancel</button>
          <button  type="submit" mat-raised-button style="background-color: #3A506B; color:#fff">Add New Service</button>

        </div>
      </ng-container>
    </div>

  </form>
</div>
